@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.section-one {
    display: flex;
    background-color: #e4dee4;
    padding: 20px 100px;
    box-shadow: #000000a4 2px 2px 10px;
}
.logo h4 {
    color: #9d1c2d;
    font-size: 20px;
}
.logo p {
    color: #9d1c2d;
    font-size: 13px;
}


#menu-overlay
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e4dee4;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    transform: scale(0);
    transition: 0.5s;
}
#menu-overlay.active
{
    transform: scale(1);
}
#menu-overlay ul
{
    position: relative;
}
#menu-overlay ul li
{
    position: relative;
    list-style: none;
    text-align: center;
    display: block;
}
#menu-overlay ul li a
{
    position: relative;
    text-decoration: none;
    font-size: 30px;
    padding: 0 10px;
    color: #9d1c2d;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
}
#menu-overlay ul li a:before
{
    content: ' ';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 8px;
    background: #9d1c2d;
    transform: translateY(-50%) scaleX(0);
    transform-origin: right;
    transition: 0.5s transform;
}
#menu-overlay ul li a:hover::before
{
    transform: translateY(-50%) scaleX(1);
    transform-origin: left;
    transition: 0.5s transform;
}
#toggleIcon
{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: url(../img/menu.png) no-repeat;
    padding: 5px;
    z-index: 1;
    transition: 0.3s ease;
}
#toggleIcon.active
{
    background: url(../img/close.png) no-repeat;
}
#toggleIcon {
    display: none;
}
#bigScreen {
    margin-left: 400px;
    margin-top: 10px;
}
#bigScreen a {
    margin-right: 50px;
    list-style: none;
    text-decoration: none;
    color: #9d1c2d;
}
#bigScreen a:before
{
    content: ' ';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 8px;
    background: #9d1c2d;
    transform: translateY(-50%) scaleX(0);
    transform-origin: right;
    transition: 0.5s transform;
}
#bigScreen a:hover::before
{
    transform: translateY(-50%) scaleX(1);
    transform-origin: left;
    transition: 0.5s transform;
}
.section-two {
    padding: 50px 100px;
    background-color: #9d1c2d;
}
.section-two h2 {
    color: #e4dee4;
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.section-two #jollofbigbowl {
    max-width: 500px;
    display: block;
    margin: auto;
}
.section-two #blackarrow {
    transform: rotate(90deg);
    width: 100px;
    display: block;
    margin: auto;
}
.section-two button {
    display: block;
    margin: auto;
    border-radius: 10px;
    background-color: #e4dee4;
    color: #9d1c2d;
    padding: 10px 20px;
    margin-top: 50px;
    border-style: none;
}
.section-two button a {
    list-style: none;
    text-decoration: none;
    color: #9d1c2d;
}
.section-three {
    padding: 50px 250px;
    background-color: #e4dee486;
    display: flex;
}
.section-three-firstbox {
    width: 450px;
    height: 400px;
    margin-right: -50px;
    background-color: #9d1c2d;
    margin-top: 50px;
    box-shadow: #000000a4 2px 2px 10px;
    z-index: 2;
}
.section-three-firstbox h3 {
    text-align: center;
    padding-top: 60px;
    color: #e4dee4;
}
.section-three-firstbox img {
    max-width: 300px;
    display: block;
    margin: auto;
}
.section-three-secondbox {
    width: 450px;
    height: 400px;
    background-color: #e4dee4;
    box-shadow: #000000a4 2px 2px 10px;
    z-index: 1;
}
.section-three-secondbox h3 {
    text-align: center;
    padding-top: 25px;
    color: #9d1c2d;
    padding-top: 50px;
    padding-bottom: 10px;
}
.section-three-secondbox img {
    max-width: 250px;
    display: block;
    margin: auto;
}
.section-four {
    background-color: #e4dee4;
    padding: 50px 100px;
}
.section-four h2 {
    color: #9d1c2d;
    text-align: center;
}
.section-four p {
    color: #9d1c2d;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.section-four img {
    display: block;
    margin: auto;
}
.section-five {
    background-color: #9d1c2d;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 10px;
}
.section-five .section-five-sub {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.section-five div {
    display: flex;
    margin-bottom: 20px;
}
.section-five div i {
    color: #e4dee4;
    margin-right: 15px;
    font-size: 25px;
    text-align: center;
}
.section-five div p {
    text-align: center;
    color: #e4dee4;
}
@media screen and (max-width: 1200px) {
    .section-one {
        display: flex;
        background-color: #e4dee4;
        padding: 20px 50px;
    }
    #bigScreen {
        margin-left: 300px;
        margin-top: 10px;
    }
    #bigScreen a {
        margin-right: 30px;
    }
}
@media screen and (max-width: 1000px) {
    .section-one {
        display: flex;
        background-color: #e4dee4;
        padding: 20px 50px;
    }
    #bigScreen {
        margin-left: 200px;
        margin-top: 10px;
    }
    #bigScreen a {
        margin-right: 30px;
    }
}
@media screen and (max-width: 900px) {
    .section-one {
        display: flex;
        background-color: #e4dee4;
        padding: 20px 50px;
    }
    #bigScreen {
        margin-left: 100px;
        margin-top: 10px;
    }
    #bigScreen a {
        margin-right: 30px;
    }
}
@media screen and (max-width: 800px) {
    .section-one {
        display: flex;
        background-color: #e4dee4;
        padding: 20px 50px;
    }
    #bigScreen {
        display: none;
    }
    #toggleIcon {
        display: block;
    }
    .section-two {
        padding: 50px 100px;
        background-color: #9d1c2d;
    }
    .section-two h2 {
        color: #e4dee4;
        text-align: center;
        font-size: 30px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .section-two #jollofbigbowl {
        max-width: 300px;
        display: block;
        margin: auto;
    }
    .section-two #blackarrow {
        transform: rotate(90deg);
        width: 50px;
        display: block;
        margin: auto;
    }
    .section-two button {
        display: block;
        margin: auto;
        border-radius: 10px;
        background-color: #e4dee4;
        color: #9d1c2d;
        padding: 10px 20px;
        margin-top: 25px;
        border-style: none;
    }
    .section-three {
        padding: 20px 50px;
        background-color: #e4dee486;
        display: block;
    }
    .section-three-firstbox {
        width: 100%;
        height: 300px;
        background-color: #9d1c2d;
        margin-top: 50px;
        box-shadow: #000000a4 2px 2px 10px;
    }
    .section-three-firstbox h3 {
        text-align: center;
        padding-top: 40px;
        color: #e4dee4;
    }
    .section-three-firstbox img {
        max-width: 200px;
        display: block;
        margin: auto;
    }
    .section-three-secondbox {
        width: 100%;
        height: 360px;
        background-color: #e4dee4;
        box-shadow: #000000a4 2px 2px 10px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .section-three-secondbox h3 {
        text-align: center;
        padding-top: 25px;
        color: #9d1c2d;
        padding-top: 50px;
        padding-bottom: 10px;
    }
    .section-three-secondbox img {
        max-width: 200px;
        display: block;
        margin: auto;
    }
    .section-four {
        background-color: #e4dee4;
        padding: 50px 100px;
    }
    .section-four h2 {
        color: #9d1c2d;
        text-align: center;
    }
    .section-four p {
        color: #9d1c2d;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .section-four img {
        display: block;
        margin: auto;
        width: 300px;
    }
}
@media screen and (max-width: 600px) {
    .section-two #jollofbigbowl {
        max-width: 200px;
        display: block;
        margin: auto;
    }
    .section-three {
    padding: 50px 100px;
    background-color: #e4dee486;
    display: flex;
    }
    .section-four img {
        display: block;
        margin: auto;
        width: 200px;
    }
    .section-three-firstbox {
        width: 300px;
        height: 300px;
        background-color: #9d1c2d;
        margin-top: 50px;
        box-shadow: #000000a4 2px 2px 10px;
    }
    .section-three-secondbox {
        width: 300px;
        height: 300px;
        background-color: #9d1c2d;
        margin-top: 50px;
        box-shadow: #000000a4 2px 2px 10px;
    }
}
